POSTGRES_USER=taqeem
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=taqeem
MONGO_INITDB_ROOT_USERNAME=taqeem
MONGO_INITDB_ROOT_PASSWORD=your_mongo_password
RABBITMQ_DEFAULT_USER=taqeem
RABBITMQ_DEFAULT_PASS=your_rabbitmq_password
ELASTIC_PASSWORD=your_elastic_password
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----"
CORS_ORIGIN=*
OPENAI_API_KEY=your_openai_api_key_here
LANGSMITH_API_KEY=your_langsmith_api_key_here
