# Taqeem Internal Registry Mirror
# Uncomment the lines below when the internal Nexus/Artifactory is deployed.
# registry=https://registry.taqeem.internal
# //registry.taqeem.internal/:_authToken=${NPM_REGISTRY_TOKEN}
